@inject NewsLetterSubscriberService NewsSvc
@inject ToastInfoService Toast
<!-- Footer Top Section -->
<div class="footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Footer Rows Container -->
                <div class="footer-rows-container">

                    <!-- Left Side -->
                    <div class="footer-rows-left">
                        <div class="footer-row">
                            <div class="footer-row-inner footer-logo">
                                <img src="images/logo2.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- Right Side -->
                    <div class="footer-rows-right">

                        <!-- Social Icons -->
                        <div class="footer-row">
                            <div class="footer-row-inner">
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!-- Language Switcher -->
                        <div class="footer-row">
                            <div class="footer-row-inner">
                                <select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
                                    <option selected>English</option>
                                    <option>Indonesia</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Footer Rows Container / End -->
            </div>
        </div>
    </div>
</div>
<!-- Footer Top Section / End -->
<!-- Footer Middle Section -->
<div class="footer-middle-section">
    <div class="container">
        <div class="row">

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Untuk Pencari Kerja</h3>
                    <ul>
                        <li><a href="/find-job"><span>Cari Kerjaan</span></a></li>
                        <li><a href="/settings"><span>Tambah Resume</span></a></li>
                        <li><a href="/find-project"><span>Cari Proyek</span></a></li>
                        <li><a href="/list-bookmark"><span>Daftar Bookmark</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Untuk Pemberi Kerja</h3>
                    <ul>
                        <li><a href="/find-freelance"><span>Cari Pekerja</span></a></li>
                        <li><a href="/post-job"><span>Bikin Kerjaan</span></a></li>
                        <li><a href="/post-project"><span>Bikin Proyek</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Tautan Pembantu</h3>
                    <ul>
                        <li><a href="/contact"><span>Kontak</span></a></li>
                        <li><a href="/privacy-policy"><span>Privacy Policy</span></a></li>
                        <li><a href="/terms"><span>Terms of Use</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Account</h3>
                    <ul>
                        <li><a href="/sign-in"><span>Log In</span></a></li>
                        <li><a href="/settings"><span>Akun Saya</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Newsletter -->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <h3><i class="icon-feather-mail"></i> Ikutin Newsletter</h3>
                <p>Update seputar berita, analisa, dan tips dalam bekerja saat nyari kerjaan.</p>
                <form class="newsletter">
                    <input type="text" @bind="NewEmail" name="fname" placeholder="tulis email kamu">
                    <button type="button" @onclick="Submit"><i class="icon-feather-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer Middle Section / End -->
<!-- Footer Copyrights -->
<div class="footer-bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                © @Tahun <strong>Cangkulan</strong>. All Rights Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Footer Copyrights / End -->
@code {
    string NewEmail = string.Empty;
    public int Tahun { set; get; } = DateHelper.GetLocalTimeNow().Year;

    async Task Submit()
    {
        if (string.IsNullOrEmpty(NewEmail)) return;
        if (NewsSvc.IsExist(NewEmail))
        {
            await Toast.ShowInfo("Anda sudah subscribe ke news letter kami.");
        }
        else
        {
            var newItem = new NewsLetterSubscriber() { CreatedDate = DateHelper.GetLocalTimeNow(), Email = NewEmail };
            var res = NewsSvc.InsertData(newItem);
            if (res)
            {
                await Toast.ShowInfo("Subscribe berhasil.");
            }
            else
            {
                await Toast.ShowInfo("Subscribe gagal.");
            }
        }
    }
}
