<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@MenuName</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>@MenuName</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string MenuName { get; set; }
}
