@page "/"
@page "/index"
@inject IJSRuntime IJS

<PageTitle>Welcome to Cangkulan, tempat nyari kerja yang berkah</PageTitle>

<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay" data-background-image="images/home-background-02.jpg">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">

		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Rekrut para ahli, freelancer untuk segala macam pekerjaan, kapan saja.</strong>
						<br>
						<span>Tempat komunitas designer, developer dan insan kreatif yang siap berkarya bersama Anda.</span>
					</h3>
				</div>
			</div>
		</div>

		<!-- Search Bar -->
		<SearchBarPage></SearchBarPage>

		<!-- Stats -->
		<JobStatPage></JobStatPage>

	</div>
</div>


<!-- Content
================================================== -->
<!-- Popular Job Categories -->
<PopularJobPage></PopularJobPage>
<!-- Features Cities / End -->
<!-- Features Jobs -->
<FeaturedJobPage></FeaturedJobPage>
<!-- Featured Jobs / End -->
<!-- Features Jobs -->
<FeaturedProjectPage></FeaturedProjectPage>
<!-- Featured Jobs / End -->
<!-- Icon Boxes -->
<div class="section padding-top-65 padding-bottom-65">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>Gimana Cara Kerjanya?</h3>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-line-awesome-lock"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Bikin Akun</h3>
					<p>Sebagai pemberi pekerjaan atau proyek, ini langkah pertama yang harus dilakukan, lengkapi data dan usaha Anda.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-line-awesome-legal"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Posting Kerjaan/Proyek</h3>
					<p>Masukan informasi tentang penawaran lowongan kerja atau proyek Anda dengan singkat, jelas, dan padat.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class=" icon-line-awesome-trophy"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Pilih Profesional/Freelancer</h3>
					<p>Jika ada freelancer / profesional yang tertarik dengan lowongan atau proyek Anda. Anda akan menerima notifikasi, dan silakan melakukan komunikasi dan evaluasi.</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Icon Boxes / End -->
<!-- Testimonials -->
<TestimonialPage></TestimonialPage>
<!-- Testimonials / End -->
<!-- Counters -->
<CounterStatPage></CounterStatPage>
<!-- Counters / End -->
@code{


}