@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavMgr
@inject UserProfileService Userservice
@inject IJSRuntime IJS
<PageTitle>Cangkulan App</PageTitle>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container
    ================================================== -->
    <header id="header-container" class="fullwidth">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">


                        <a href="/"><img src="images/logo.png" alt=""></a>

                    </div>

                    <!-- Main Navigation -->
                    <HeaderNav></HeaderNav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->
                <!-- Right Side Content / End -->
                <HamburgerMenu></HamburgerMenu>
                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->

    <CascadingValue Value="this">
        <!-- Main Content -->
        @Body
    </CascadingValue>

    <!-- Footer
    ================================================== -->
    <div id="footer">

        <FooterPage></FooterPage>

    </div>
    <!-- Footer / End -->

</div>
<!-- Wrapper / End -->
<ApplyJobPopup @ref="JobPopup"></ApplyJobPopup>
<MakeOfferPopup @ref="MakeOfferPopup1"></MakeOfferPopup>
<ReviewCompanyPopupPage @ref="ReviewCompanyPopup"></ReviewCompanyPopupPage>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />
<PageCounter></PageCounter>

@code {
    MakeOfferPopup MakeOfferPopup1;
    [Parameter]
    public bool IsTransparent { get; set; } = true;
    ApplyJobPopup JobPopup;
    ReviewCompanyPopupPage ReviewCompanyPopup;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    async Task Keluar()
    {
        NavMgr.NavigateTo($"/logout", true);
        //await localStorage.SetItemAsync(AppConstants.NameKey, "");
        //NavMgr.NavigateTo($"/login");
    }


    string Nama = "Saya";
    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var UserName = user.Identity.Name;
            Nama = Userservice.GetUserByEmail(UserName)?.FullName;
        }
    }


    public void SetJobItem(long userid, long jobid)
    {
        JobPopup?.Refresh(new JobCandidate() { CandidateId = userid, JobId = jobid });

    }
    public void SetOfferItem(OfferCls NewItem)
    {
        MakeOfferPopup1?.Refresh(NewItem);

    }
    public void SetReviewCompany(Company Item, ReviewCompany NewReview)
    {
        ReviewCompanyPopup?.SetReview(Item,NewReview);

    }

    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            IJS.InvokeVoidAsync("InitJs");
        }
    }
}